include src/py_tresos/tpls/plugin/*.tpl
include src/py_tresos/tpls/plugin/config/*.tpl
include src/py_tresos/tpls/plugin/META-INF/*.tpl
include src/py_tresos/tpls/plugin/doc/*.md
include src/py_tresos/tpls/plugin/make/*.mak
include src/py_tresos/tpls/plugin/generate_swcd/swcd/*.arxml